name: Lint

on:
  - push
  - pull_request

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    strategy:
      matrix:
        PROFILE: [release]
    name: Lint
    uses: SanctumLabs/ci-workflows/.github/workflows/rust-lint.yml@main
    with:
      profile: ${{ matrix.PROFILE }}

  clippy:
    name: cargo clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: cargo clippy
        run: cargo clippy --all --all-targets -- -D warnings
