name: Test

on:
  - push
  - pull_request

permissions:
  contents: read
  pull-requests: read

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      matrix:
        PROFILE: [release]
    name: Test
    uses: SanctumLabs/ci-workflows/.github/workflows/rust-test.yml@main
    with:
      profile: ${{ matrix.PROFILE }}
